PORT = 8000
MONGO_URI = mongodb+srv://name:password@cluster0.nxevqeu.mongodb.net
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = $2b$10$7.njydZLyhUT8oHIH625XOB1IiUzqtAplpAjr6qEBn4.j2pvJJgTm
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = mTgJJvp2j.4nBEq6rjAplpAtqzUiI1BOX526HIHo8TUhyLZdyjn.7$01$b2$
REFRESH_TOKEN_EXPIRY = 10d 